<h5>Products</h5>
<table role='grid'>
  <tr>
    <th class='small-4 large-4'>Item</th>
    <th class='small-1 large-1'>Price</th>
    <th class='small-1 large-1'>Quantity</th>
    <th class='small-1 large-1'></th>
    <th class='small-1 large-1'></th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.title, admin_product_path(product) %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.quantity %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
      <td><%= link_to 'Delete', admin_product_path(product), method: :delete%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Product', new_admin_product_path, class: 'button tiny radius' %>

